
    <footer>
        <div class="footer-blurb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-blurb-item">
                        <h3><span class="glyphicon glyphicon-text-size"></span> Mailing List</h3>
                        <p>Stay informed about the new releases or ask some questions.</p>
                        <p><a class="btn btn-default" href="https://groups.google.com/forum/#!forum/echr-od">Access group</a></p>
                    </div>
                    <div class="col-sm-3 footer-blurb-item">
                        <h3><span class="glyphicon glyphicon-wrench"></span> Creation process</h3>
                        <p>Learn how the information was extracted and the datasets built. </p>
                        <p><a class="btn btn-default" href="/about/#creation_process">Process</a></p>
                    </div>
                    <div class="col-sm-3 footer-blurb-item">
                        <h3><span class="glyphicon glyphicon-paperclip"></span> Release Notes</h3>
                        <p>Keep an eye on the ECHR-OD releases, patches and new data.</p>
                        <p><a class="btn btn-default" href="#">See release notes</a></p>
                    </div>
                    <div class="col-sm-3 footer-blurb-item">
                        
                        <!-- Thumbnails --> 
                        <h3><span class="glyphicon glyphicon-camera"></span> Exploitations</h3>
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="thumbnail">
                                        <img src="holder.js/110x80" alt="">
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="thumbnail">
                                        <img src="holder.js/110x80" alt="">
                                    </a>
                                </div>
                            </div>  
                    </div>
                </div>
                <!-- /.row -->  
            </div>
        </div>
        
        <div class="small-print">
            <div class="container">
                <p><a href="#">License</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
                <p>Copyright &copy; ECHR-OD Project 2018 </p>
            </div>
        </div>
    </footer>
