        <!-- Left Column -->
        <div class="col-sm-2">

            <!-- List-Group Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> ECHR - OpenData</h1>
                </div>
                <div class="list-group">
                    <a href="/" class="list-group-item">Home</a>
                    <a href="/explore/" class="list-group-item">Explore</a>
                    <a href="/datasets/" class="list-group-item">Datasets</a>
                    <a href="/about/" class="list-group-item">About</a>
                    <a href="/support" class="list-group-item">Support</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-folder-open"></span> Datasets</h1>
                </div>
                <div class="list-group">
                    <a href="/datasets/#binary_classification" class="list-group-item">Binary Classification</a>
                    <a href="/datasets/#multiclass_classification" class="list-group-item">Multiclass Classification</a>
                    <a href="/datasets/#multilabel_classification" class="list-group-item">Multilabel Classification</a>
                </div>
            </div>

            <!-- Text Panel -->
            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Work with the Data</h1>
                </div>

                <div class="panel-body">
                    <p>TO COME</p>
                    <p><button class="btn btn-default">Explore</button>
                    <button class="btn btn-default">Visualization</button></p>
                    <p><button class="btn btn-default">Analysis</button></p>
                </div>
            </div>-->



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Academic Citing</h1>
                </div>

                <div class="panel-body">
                    <p>When citing this database or a dataset, please use this <a href="/about/#academic_citing">BibTex entry</a>.</p>
                </div>
                
            </div>

            <!-- Text Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bullhorn"></span> 
                        Share the project
                    </h3>
                </div>
                <div class="panel-body">
                    <p>For visibility, please, talk about us!</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Resource</button>
                        <button type="button" class="btn btn-default">Envision</button>
                        <button type="button" class="btn btn-default">Niche</button>
                    </div>
                </div>
            </div>  
                
        </div><!--/Left Column-->
  
  